<div class="<%= clazz %>">

	<div>
		<span style="font-weight:bold"> <%= task.name %> </span>
	</div>

	<div style="margin-top:20px">
		    <div class="btn-group">
			    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
			    Actions
			    <span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu">
			    	<li> <%= link_to "Mark as Todo", change_status_project_task_path(task.project, task, act: "TODO"), method: :put %> </li>
			    	<li class="divider"></li>
			    	<li> <%= link_to "Mark as Doing", change_status_project_task_path(task.project, task, act: "DOING"), method: :put %> </li>
			    	<li class="divider"></li>
			    	<li> <%= link_to "Mark as Done", change_status_project_task_path(task.project, task, act:"DONE"), method: :put %> </li>
			    </ul>
		    </div>
	</div>

</div>