
<div class="row-fluid">
	<div class="span5 account-parent-block">
		
		<%= image_tag "extras/default-profile-pic.jpg", class: "img img-polaroid pull-left", style: "width:150px;height:150px" %>

		<div class="account-child-block">
			<span style="margin-left:20px" class="badge badge-important"> Ahoy <%= current_user.email %>! </span>
			<ul class="unstyled account-opt">
				<li> <%= link_to "My Account", edit_user_registration_path, style: "margin-left:20px" %> </li>
				<li> <%= link_to "Projects", "#", style: "margin-left:20px" %> </li>
				<li> <%= link_to "Logout", destroy_user_session_path, method: :delete, style: "margin-left:20px" %> </li>
			</ul>
		</div>

	</div>
</div>
