
<div class="row-fluid">
	<div class="span5 account-parent-block visible-desktop">
		
		<%= image_tag "extras/default-profile-pic.jpg", class: "img img-polaroid pull-left", style: "width:150px;height:150px" %>

		<div class="account-child-block">
			<span style="margin-left:20px" class="badge badge-important"> Ahoy <%= current_user.email %>! </span>
			<ul class="unstyled account-opt">
				<li> 
					<%= link_to "My Account", edit_user_registration_path, style: "margin-left:20px" %> 
				</li>
				<li> 
					<%= link_to "Projects(#{@projects_count})", projects_path, style: "margin-left:20px" %> 
				</li>
				<li> 
					<%= link_to "Logout", destroy_user_session_path, method: :delete, style: "margin-left:20px" %> 
				</li>
			</ul>
		</div>

	</div>

	<div class="span7 account-parent-block">

		<p class="lead"> Recent Projects </p>
		<hr />

		<div>
			<%= render @new_projects %>

			<%= "<strong> Woah! Be productive and do something. </strong>".html_safe if @new_projects.empty? %>
		</div>

		<div style="margin-top:20px">
			<%= link_to "<i class='icon icon-plus'></i> Create A Project".html_safe, new_project_path, class: "btn btn-large" %>
		</div>

	</div>
</div>
