
<div style="margin-top:20px;background-color:#EEE;padding:20px">
	<%= link_to "<i class='icon icon-remove icon-white'></i> Delete Project".html_safe, project, class: "btn btn-danger btn-large pull-right", style: "margin-left:10px", method: :delete, confirm: "Delete #{project.title}?" %>
	<%= link_to "<i class='icon icon-zoom-in'></i> View Project".html_safe, project, class: "btn btn-large pull-right" %>

	<strong> <%= project.title %> </strong>
	<div>
		<%= project.description %>
	</div>
	<div style="margin-top:10px">
		<span class="badge badge-info"> Created <%= distance_of_time_in_words Time.now, project.created_at %> </span>
	</div>

	<div class="clearfix"></div>
</div>