
<div class="row-fluid">
	<div class="span6">
		<div class="create-project-block" style="border:1px solid #DDD">
			<p class="lead"> Create A Project </p>
			<hr />

			<%= form_for(@project) do |f| %>
				<div>
					<span style="color:red">*</span> Title <br />
					<%= f.text_field :title, placeholder: "Your title" %>
				</div>

				<div>
					Description <br />
					<%= f.text_area :description, style: "height:150px", placeholder: "Project Description" %>
				</div>

				<div class="form-actions">
					<%= button_tag method: :post, class: "btn" do %>
						<i class="icon icon-plus-sign"></i> Create Project
					<% end %> 

					<%= link_to "<i class='icon icon-chevron-left'></i> Back".html_safe, dashboard_path, class: "btn" %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="span6 visible-desktop">
		<%= image_tag "extras/create-project-logo.jpg" %>
	</div>
</div>